<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
</head>

<body>
  <section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center px-6 py-8 h-screen mx-auto my-auto lg:py-0">
      <% if (message) { %>
        <span class="text-red">
          <%= message %>
        </span>
      <% } %>
      <div class="w-full bg-white rounded-lg shadow bg-blue-500  md:mt-0 sm:max-w-md xl:p-0 ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Please Register
          </h1>
          <form class="space-y-4 md:space-y-6" action="/register" method="post">
            <div>
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                name</label>
              <input type="text" name="name" id="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                placeholder="Enter your name" required="">
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                email</label>
              <input type="email" name="email" id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                placeholder="name@company.com" required="">
            </div>
            <div>
              <label for="roleId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
              <select id="roleId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="roleId">
                <option value="1" selected>Author</option>
                <option value="2">Reader</option>
              </select>
            </div>
            <div>
              <label for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input type="password" name="password" id="password" placeholder="Enter your password"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                required="" autocomplete="new-password">
            </div>
            <div>
              <label for="confirmPassword"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
              <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required="" autocomplete="new-password">
            </div>
            <span class="wrong-message hidden text-sm text-red-300">Password not matched!</span>
            <button type="submit" id="signup"
              class="w-full text-dark bg-white hover:bg-green-200 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign
              up</button>
          </form>
          <a href="/login" class="inline-block w-full text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Back</a>
        </div>
      </div>
    </div>
  </section>
  
  <script>
    const passwordChangeHandler = (event) => {
      const confirmPassword = $('#confirmPassword').val()
      const password = $('#password').val()
      if (confirmPassword != password) {
        $('.wrong-message').removeClass('hidden')
        $('#signup').attr('disabled', true)
      } else {
        $('.wrong-message').addClass('hidden')
        $('#signup').attr('disabled', false)
      }
    }

    $('#confirmPassword').on('change', passwordChangeHandler)
    $('#password').on('change', passwordChangeHandler)

  </script>
</body>


</html>